$primary-color: #1c2a48 50%;
$secondary-color: #ffc75f 60%;

$section-margin: 6rem 0;

// Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

// Base Styles
*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif !important;
  color: $primary-color;
  font-weight: 300;
  line-height: 1.6;
}

.wrapper {
  margin: 0 auto;
  padding: 4rem 2rem;
  max-width: 1160px;
}

.inside-wrapper {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1160px;
}

.section {
  padding: $section-margin;
  .heading-2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: 1rem;
    text-align: left;
  }
}
